nav {
    background-color: rgb(7, 7, 7);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}
nav a:link, a:visited , a:hover, a:active {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a.logo{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 2rem;
}
nav li {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.cartitems{
    background-color: red;
    font-size: 14px;
    position: absolute;
    top: -15px;
    right: -10px;
    border-radius: 50px;
    padding: 4px 6px;
}